.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.card-img {
    height: 150px;
}

.card-title {
    margin-top: 10px;
}

#basic-nav-dropdown {
    color: #faebd7;
}